<div style="min-height: 100vh">
  <div class="row" style="margin: 0">
    <div class="col-2" style="background-color: black"></div>
    <div class="col-8" style="background-color: black">
      <img width="100%"
           src="{{image}}">
    </div>
    <div class="col-2" style="background-color: black"></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12" style="background-color: black"><h2
      style="text-align: center;color: #eeeeee;margin-top: 30px;margin-bottom: 40px;font-size: 50px">
      {{productDto.nameProduct}}</h2></div>
  </div>
  <div class="row" style="background-color: #484848; margin: 0">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row" style="margin: 0">
        <div class="col-4" style="margin-top: 50px">
          <b style="color: red;font-size: 20px">Chi tiết kỹ thuật</b>
          <hr>
        </div>
        <div class="col-4" style="margin-top: 50px">
          <b style="color: red;font-size: 20px">Năm Sản Xuất</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.nameYear}}</p>
          <br>
          <b style="color: red;font-size: 20px">Ngoại thất</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.exterior}}</p>
          <br>
          <b style="color: red;font-size: 20px">Động cơ</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.engine}}
          </p>
          <br>
          <b style="color: red;font-size: 20px">Giá</b>
          <hr>
        </div>

        <div class="col-4" style="margin-top: 50px">
          <b style="color: red;font-size: 20px">Số dặm</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.mileage}}</p>
          <br>
          <b style="color: red;font-size: 20px">Nội địa</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.interior}}</p>
          <br>
          <b style="color: red;font-size: 20px">Quyền lực</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.power}}</p>
          <br>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.price | number}} $</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row" style="background-color: #484848; margin: 0" >
    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0"></div>
    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" style="margin-left: 65px">
      <!-- Quantity -->
      <div class="d-flex mb-4" style="max-width: 300px ;text-align: center" *ngIf="checkLogin">
        <button class="btn btn-danger px-3 me-2" style="width: 45px;height: 45px"
                (click)="decrease()" [ngClass]="{'disabled': quantity <= 1}">
          <i class="fas fa-minus"></i>
        </button>

        <div class="form-outline" >
          <input style="text-align: center" [(ngModel)]="quantity" min="1" max="10" name="quantity" type="text" class="form-control"/>
          <label class="form-label" style="color: #eeeeee  ">Số lượng</label>
        </div>

        <button class="btn btn-danger px-3 ms-2" style="width: 45px;height: 45px"
                (click)="increase()" [ngClass]="{'disabled': quantity >= 10}">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0"></div>
   <div class="row">
     <div class="col-2"></div>
     <div class="col-8"><button *ngIf="checkLogin"  (click)="addToCart()" type="button" class="btn btn-outline-danger btn-lg btn-block"
                                style="width: 650px;height: 100%; margin-left: 370px ;margin-bottom: 20px">
       Thêm vào giỏ hàng</button></div>
     <div class="col-2"></div>
   </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12" style="background-color: black"><h2
      style="text-align: center;color: #eeeeee;margin-top: 30px;margin-bottom: 40px">
      Hình ảnh xe hơi</h2></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-2" style="background-color: black"></div>
    <div class="col-8" style="background-color: black">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let data of imageList">
            <img height="100%"
                 src="{{data.url}}"
                 class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-2" style="background-color: black"></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12" style="background-color: black"><h2
      style="text-align: center;color: #eeeeee;margin-top: 30px;margin-bottom: 40px">
      Có thể bạn cũng quan tâm</h2></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-1" style="background-color: black"></div>
    <div class="col-10" style="background-color: black;text-align: center">
      <div class="row">
        <div class="col-4" *ngFor="let data of productInType">
          <div class="card" style="box-shadow: 2px 2px 3px #1976d2 ">
            <div class="cart-img">
              <img
                src="{{data?.url}}"
                class="card-img-top" alt="...">
            </div>

            <div class="card-body" style="background-color: black">
              <div><h6 class="card-text" style="color: #eeeeee">{{data?.nameProduct}}</h6></div>
              <div style="margin-top: 20px"><h5 class="card-title"
                                                style="color: #eeeeee">{{data?.nameStatusProduct}}</h5>
              </div>
              <div><a (click)="scroll()" [routerLink]="['/detail',data.idProduct]" class="btn btn-primary">Chi tiết sản
                phẩm</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1" style="background-color: black"></div>
  </div>
</div>


