<div style="min-height: 100vh">
  <div class="row" style="margin: 0">
    <div class="col-2" style="background-color: black"></div>
    <div class="col-8" style="background-color: black">
      <img width="100%"
           src="{{image}}">
    </div>
    <div class="col-2" style="background-color: black"></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12" style="background-color: black"><h2
      style="text-align: center;color: #eeeeee;margin-top: 30px;margin-bottom: 40px;font-size: 50px">
      {{productDto.nameProduct}}</h2></div>
  </div>
  <div class="row" style="background-color: #484848; margin: 0">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="row" style="margin: 0">
        <div class="col-4" style="margin-top: 50px">
          <b style="color: red;font-size: 20px">Chi tiết kỹ thuật</b>
          <hr>
        </div>
        <div class="col-4" style="margin-top: 50px">
          <b style="color: red;font-size: 20px">Năm Sản Xuất</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.nameYear}}</p>
          <br>
          <b style="color: red;font-size: 20px">Ngoại thất</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.exterior}}</p>
          <br>
          <b style="color: red;font-size: 20px">Động cơ</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.engine}}
          </p>
          <br>
          <b style="color: red;font-size: 20px">Giá</b>
          <hr>
        </div>

        <div class="col-4" style="margin-top: 50px">
          <b style="color: red;font-size: 20px">Số dặm</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.mileage}}</p>
          <br>
          <b style="color: red;font-size: 20px">Nội địa</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.interior}}</p>
          <br>
          <b style="color: red;font-size: 20px">Quyền lực</b>
          <hr>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.power}}</p>
          <br>
          <p style="font-size: 20px;color: #eeeeee">{{productDto.price | number}} AED</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12" style="background-color: black"><h2
      style="text-align: center;color: #eeeeee;margin-top: 30px;margin-bottom: 40px">
      Hình ảnh xe hơi</h2></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-2" style="background-color: black"></div>
    <div class="col-8" style="background-color: black">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let data of imageList">
            <img height="100%"
                 src="{{data.url}}"
                 class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-2" style="background-color: black"></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-12" style="background-color: black"><h2
      style="text-align: center;color: #eeeeee;margin-top: 30px;margin-bottom: 40px">
      Có thể bạn cũng quan tâm</h2></div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-1" style="background-color: black"></div>
    <div class="col-10" style="background-color: black;text-align: center">
      <div class="row" style="margin-top: 40px">
        <div class="col-4">
          <div class="card" style="box-shadow: 2px 2px 3px #1976d2 ">
            <div class="cart-img">
              <img
                src="https://www.alainclass.com/wp-content/uploads/2023/03/2021-Lamborghini-Aventador-SVJ-Purple-0687-14-972-574.jpg"
                class="card-img-top" alt="...">
            </div>

            <div class="card-body" style="background-color: black">
              <div><h6 class="card-text" style="color: #eeeeee">2021 Lamborghini Aventador</h6></div>
              <div style="margin-top: 20px"><h5 class="card-title" style="color: #eeeeee">Đã sử dụng</h5>
              </div>
              <div><a class="btn btn-primary">Chi tiết sản
                phẩm</a></div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="box-shadow: 2px 2px 3px #1976d2 ">
            <div class="cart-img">
              <img
                src="https://www.alainclass.com/wp-content/uploads/2023/02/2019-Koenigsegg-Regera-Blue-7156-22-972-574.jpg"
                class="card-img-top" alt="...">
            </div>
            <div class="card-body" style="background-color: black">
              <div><h6 class="card-text" style="color: #eeeeee">Lamborghini Aventador
              </h6></div>
              <div style="margin-top: 20px;color: #eeeeee"><h5 class="card-title">Chưa sử dụng</h5>
              </div>
              <div><a class="btn btn-primary">Chi tiết sản
                phẩm</a></div>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card" style="box-shadow: 2px 2px 3px #1976d2 ">
            <div class="cart-img">
              <img
                src="https://www.alainclass.com/wp-content/uploads/2023/03/2022-Lamborghini-Aventador-LP-780-4-Ultimae-R-10-972-574.jpg"
                class="card-img-top" alt="...">
            </div>

            <div class="card-body" style="background-color: black">
              <div><h6 class="card-text" style="color: #eeeeee">Koenigsegg Regera</h6></div>
              <div style="margin-top: 20px;color: #eeeeee"><h5 class="card-title"> Chưa sử dụng</h5>
              </div>
              <div><a class="btn btn-primary">Chi tiết sản
                phẩm</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1" style="background-color: black"></div>
  </div>
</div>
