<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<p>
    <a class="btn btn-outline-warning my-2 my-sm-0" th:href="@{/create}">
        thêm lịch chiếu
    </a>
</p>
<h1 class="align-bottom text-center">Lịch Chiếu Phim</h1>
</div>
<p th:text="${message}" style="color: crimson">
</p>
<table class="table table-dark" border="1">
    <tr>
        <th>STT</th>
        <th>Mã suất phim</th>
        <th>Tên Phim</th>
        <th>Ngày chiếu</th>
        <th>Số Lượng Vé</th>
        <th>Delete</th>

    </tr>
    <th:block th:each="suat, stt : ${suatChieu}">
        <tr>
            <td th:text="${stt.count}+${suatChieu.number}*${suatChieu.size}"></td>
            <td th:text="${suat.id}"></td>
            <td th:text="${suat.phim.tenPhim}"></td>
            <td th:text="${suat.ngayChieu}"></td>
            <td th:text="${suat.soLuongVe}"></td>
            <td>
                <button th:onclick="|idRemove('__${suat.id}__', '__${suat.phim.tenPhim}__')|"
                        class="btn btn-outline-warning my-2 my-sm-0" type="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Xoá
                </button>
            </td>
        </tr>
    </th:block>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Are you sure to delete:  <span style="color: #db365d " id="deleteModal"></span></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                </button>
                <form th:action="@{/delete}" method="post">
                    <input type="hidden" name="id" id="idInput">
                    <button class="btn btn-primary">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function idRemove(id, name) {
        debugger
        document.getElementById("idInput").value = id;
        document.getElementById("deleteModal").innerText = name;
    }
</script>
</body>
</html>