<app-header></app-header>
<app-navigation></app-navigation>

<h1 class="align-bottom text-center">Customer List</h1>
<div class="row m-0">
  <div class="col-lg-3">
    <p>
      <a class="btn btn-outline-warning my-2 my-sm-0" routerLink="/customer/create">
        Add Customer
      </a>
    </p>
  </div>
  <form [formGroup]="formCustomerSearch" (ngSubmit)="search()">
    <div>
      <input formControlName="name">
      <button type="submit" class="btn btn-outline-warning my-2 my-sm-0">Search</button>
    </div>
    <div>
      <select style="height: 49px" class="form-select" id="customerTypeId"
              formControlName="customerTypeId">
        <option selected=null></option>
        <option *ngFor="let i of customerTypeId" [ngValue]="i.name">{{i.name}}</option>
      </select>
      <button type="submit" class="btn btn-outline-warning my-2 my-sm-0">Search</button>
    </div>
  </form>
  <table class="table table-dark" border="1">
    <thead>
    <tr>
      <th>STT</th>
      <th>Code</th>
      <th>Name</th>
      <th>Customer Type</th>
      <th>Date Of Birth</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customers  | paginate: { itemsPerPage: 1, currentPage: p }  ">
      <td>{{item.id}}</td>
      <td>{{item.customerCode}}</td>
      <td>{{item.name}}</td>
      <td>{{item.customerTypeId?.name}}</td>
      <td>{{item.dateOfBirth}}</td>
      <td>
        <span *ngIf="item.gender == true; else f ">Nam</span>
        <ng-template #f>Nữ</ng-template>
      </td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td>
        <button type="button" class="btn btn-outline-warning my-2 my-sm-0" [routerLink]="['/customer/edit',item.id]">
          Edit
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-warning my-2 my-sm-0" data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="temp = item">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<app-customer-delete [customer]="temp" (eventDelete)="reload()"></app-customer-delete>
<app-footer></app-footer>

