<h1 class="align-bottom text-center">Contract List</h1>
<table class="table table-dark" border="1" >
  <thead>
  <tr>
    <th>STT</th>
    <th>Facility</th>
    <th>Customer</th>
    <th>Date Start</th>
    <th>Date End</th>
    <th>Deposits</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of contracts">
    <td>{{item.id}}</td>
    <td>{{item.facility.name}}</td>
    <td>{{item.customer.name}}</td>
    <td>{{item.startDate}}</td>
    <td>{{item.endDate}}</td>
    <td>{{item.deposit}}</td>
  </tr>
  </tbody>
</table>


