<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>View Products</h1>
<p>
    <a th:href="@{/}">
        Back to list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${products.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Count:</label>
        <label th:text="${products.count}"></label>
    </div>
    <div class="cusdetail">
        <label>Description:</label>
        <label th:text="${products.description}"></label>
    </div>
    <div class="cusdetail">
        <label>Producer:</label>
        <label th:text="${products.producer}"></label>
    </div>
</div>
</body>
</html>