
<div class="row m-0 " >
  <div class="col-lg 4" *ngFor="let item of facility">
    <div style="display: flex; justify-content: center; text-align: center; margin-top: 20px; margin-bottom: 20px">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <div>
            <img [src]="item.image"  style="height: 200px" class="card-img-top" alt="..."></div>
          <div>Name : {{item.name}}</div>
          <div>Area : {{item.area}}</div>
          <div>Cost : {{item.cost}}</div>
          <div>Max People : {{item.maxPeople}}</div>
          <div>FacilityType : {{item.facilityType?.name}}</div>
          <div>Rent Type :{{item.rentType?.name}}</div>
          <div>StandardRoom : {{item.standardRoom}}</div>
          <div>Description Other Convenience : {{item.descriptionOtherConvenience}}</div>
          <div>Pool Area : {{item.poolArea}}</div>
          <div>Number Of Floors : {{item.numberOfFloors}}</div>
          <div>Facility Free : {{item.facilityFree}}</div>
          <div>
            <a href="#" class="btn btn-primary">Book</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

