<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Song List</h1>
<p>
    <a class="btn btn-outline-warning my-2 my-sm-0" th:href="@{/create}">
        Add Song
    </a>
</p>
<p th:text="${message}" style="color: crimson">
</p>
<table class="table table-dark" border="1">
    <tr>
        <th>STT</th>
        <th>Name Song</th>
        <th>Name Singer</th>
        <th>Category</th>


    </tr>
    <th:block th:each="song, stt : ${songList}">
        <tr>
            <td th:text="${stt.count}"></td>
            <td th:text="${song.nameSong}"></td>
            <td th:text="${song.nameSinger}"></td>
            <td th:text="${song.category}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>