<!--<app-header></app-header>-->
<!--<app-navigation></app-navigation>-->
<router-outlet></router-outlet>
<!--<app-list></app-list>-->
<!--<app-body></app-body>-->
<!--<router-outlet></router-outlet>-->
<!--&lt;!&ndash;<app-list></app-list>&ndash;&gt;-->
<!--&lt;!&ndash;<app-create></app-create>&ndash;&gt;-->

<!--&lt;!&ndash;<app-list></app-list>&ndash;&gt;-->
<!--&lt;!&ndash;<app-contract-list></app-contract-list>&ndash;&gt;-->
<!--&lt;!&ndash;<app-facility-list></app-facility-list>&ndash;&gt;-->
<!--&lt;!&ndash;<app-create></app-create>&ndash;&gt;-->
<!--<app-footer></app-footer>-->
