<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${songDto}" th:action="@{/save}" method="post">
    <table>
        <tr>
            <td>Name Song :</td>
            <td><input th:field="*{nameSong}"></td>
            <td><p th:errors="*{nameSong}"></p></td>

        </tr>
        <tr>
            <td>Name Singer :</td>
            <td><input th:field="*{nameSinger}"></td>
            <td><p th:errors="*{nameSinger}"></p></td>
        </tr>
        <tr>
            <td>Category :</td>
            <td><input th:field="*{category}"></td>
            <td><p th:errors="*{category}"></p></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>