
<script src="ckeditor/ckeditor.js"></script>
<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><textarea  formControlName="name" id="editor1"></textarea></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>

    <tr>
      <td>
        <label for="category">Danh Mục</label>
        <select id="category" formControlName="category">
          <option disabled [ngValue]="null" >Danh mục</option>
          <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
        </select>
      </td>
    </tr>
  <tr>
      <td>
        <button>Tạo mới</button>
      </td>
    </tr>
  </table>
</form>
<script>
  // Replace the <textarea id="editor1"> with a CKEditor 4
  // instance, using default configuration.
  CKEDITOR.replace( 'editor1' );
</script>
