<div style="background: url(https://capnuochaiphong.com/anh-sieu-xe-full-hd/imager_15_29525_700.jpg);">
<div class="container" style="min-height: 700px">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="payment">
        <div class="payment_header">
          <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
        </div>
        <div class="content" style="margin-top: 50px">
          <h1 style="color: red">Thanh toán thành công !</h1>
          <br>
          <a  routerLink="/" style="text-decoration: none;font-size: 25px"> <i class="fa-solid fa-arrow-left-long"></i> Về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
